html {
  font-size: clamp(1rem, calc(0.7rem + 1vw), 1.625rem);
}

header{
  text-align: center;
  font-size: 1.3rem;
}
header li{
  margin-top: 2vw;
}
header a.normal{
  color: #FBBC05;
}
  header a.amarelo{
  background-color: #FBBC05;
  border-radius: 0.4rem;
  color: white;
  padding: 2vw 4vw;
}
.banner{
  background: url(../images/background-banner.png) no-repeat;
  background-size: 100% auto;
  padding: 3vw 5vw;
  margin: 2vw 0;
}
.banner div.img{
  display: none;
}
.banner h1{
  font-size: 2rem;
}
.banner p{
  color: rgb(95, 95, 95);
  font-size: 0.9rem;
  margin-top: 14px;
}
.banner a{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 4px 10px;
}
.banner p.button{
  display: flex;
  gap: 10px;
}
.banner p.button img{
  height: 50%;
}
.tudo {
  display: flex;
  justify-content: space-between;
}
.cima {
  display: flex;
}
/*READY*/
.ready li{
  padding: 150px;
}
.ready{
  text-align: center;
}
.ready h2{
  font-size: 2rem;
  font-family: sans-serif;
}
.ready p{
  font-size: 1rem;
  color:  #737373;
}

/*Download*/
.download{
  background: linear-gradient(#FBBC05, #FBBC05);
  margin: 80px;
  padding: 30px 40px 30px 40px;
  border-radius: 14px;
  color: white;

}
.download h2{
  font-size: 1.5rem;
  font-family: sans-serif;
  margin: 40px;
}
.download h3{
  margin: 0 500px 40px 40px;
}
.download a{
  background-color: #252B42;
  border-radius: 13px;
  margin: 40px;
  padding: 20px;
}
.services{
  margin:80px;
}
.services h2{
  font-size: 1.1rem;
}
.services div.t{
  margin: 0 0 40px 0;
  text-align: center;
}
.services ul li{
  background: #f6f6f6;
  margin: 20px;
  padding: 20px;
}
.services ul li h4{
  font-size: 1.2rem;
  padding: 20px 0 10px 0;
}
.services ul li p{
  font-size: 0.8rem;
}



@media only screen and (min-width: 600px){
  header{
    padding: 2vw 5vw 2vw 5vw;
  }
  header nav{
    display: flex;
    justify-content: space-between;
  }
  header ul{
    display: flex;
    text-align: center;
    gap: 3vw;
  }
  header a.normal{
    color: #FBBC05;
  }
  header a.amarelo{
    background-color: #FBBC05;
    border-radius: 0.7rem;
    color: white;
    padding: 1vw 2vw;
  }
  .banner{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .banner div.img{
    display: block;
      text-align: right;
  }
  .banner img{
    height: 70%;
  }
  .download{
    background: url(../images/iphone-pet-ui.png) no-repeat, url(../images/iphone-pet-ui.png) no-repeat, linear-gradient(#FBBC05, #FBBC05);
    background-size: auto 140%, auto 140%;
    background-position: 70% -50%,98% 170%;

  }
  .download p{
    width: 25%;
    margin: 0 0 5vw 0;
  }
  .services{
    
    display: flex;
  }
  .services h2{
    margin: 13px 0 30px 0;
    font-weight: 676.7;
    font-family: sans-serif;
  }
  .services div{
    width: 75%;
    margin: 0 150px 0 0;
  }
  .services div.t{
    text-align: left;
    width: 50%;
  }
  .services ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}